<li>
    <button class="close-article" id="closeArticle">X</button>
    {{article.headline}} {{article.summary}} {{article.link}}
    <button class="comment">Comment</button>
    <button class="article-delete" data-id="{{article._id}}">Delete</button>
    {{comment}}
</li>